@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

@if (Model.UserData.Data != null && Model.UserDataList.Data != null)
{
    <div class="container">
        <h3>User Data</h3>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                    <th scope="col">avatar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">@Model.UserData.Data.Id</th>
                    <td>@Model.UserData.Data.First_Name</td>
                    <td>@Model.UserData.Data.Last_Name</td>
                    <td>@Model.UserData.Data.Email</td>
                    <td>@Model.UserData.Data.Avatar</td>
                </tr>

            </tbody>
        </table>
    </div>

    @*@await Html.PartialAsync("./Views/_Table", Model.UserDataList.Data)*@


    <h3>Big Table Data</h3>

    <div class="container">
        <h3>User Data List</h3>
        <form method="post">
            <div class="form-group col-md-4">
                <label for="States">Select: </label>
                <select id="inputState" class="form-control" asp-items="Model.Columns" name="SelectOption">
                    @*<option selected >Choose...</option>
                <option  ></option>*@
                </select>
                <input type="text" class="form-control" id="searchId" name="Input">
                <button type="submit" asp-page-handler="SearchForData">Search</button>
                <button type="submit" asp-page-handler="ClearData">Clear</button>
            </div>
            <table id="tbldata" class="table table-sm">
                <button type="submit" asp-page-handler="Delete">Delete</button>
                <button type="submit" asp-page-handler="ViewPDF">View</button>
                <thead>
                    <tr>
                        @*<th scope="col">#</th>*@
                        <th></th>
                        <th scope="col">ID</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email</th>
                        <th scope="col">avatar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserDataList.Data)
                    {
                        <tr>
                            @*<th scope="row">@item.Id</th>*@
                            @if (Model.AreChecked != null && Model.AreChecked.Count > 0 && Model.AreChecked.Contains(item.Id.ToString()))
                            {
                                <td><input class="form-check-input" type="checkbox" value=@item.Id name="AreChecked" checked></td>
                            }
                            else
                            {
                                <td><input class="form-check-input" type="checkbox" value=@item.Id name="AreChecked"></td>
                            }
                            <td>@item.Id</td>
                            <td>@item.First_Name</td>
                            <td>@item.Last_Name</td>
                            <td>@item.Email</td>
                            <td>@item.Avatar</td>
                        </tr>
                    }

                </tbody>
            </table>
            <div id="wrapper">
                <section>
                    <div class="data-container"></div>
                    <div id="pagination-demo1"></div>


                    <div class="data-container"></div>
                    <div id="pagination-demo2"></div>
                </section>
            </div>
        </form>


    </div>


}
@*<script>
    (function () {

        (function () {
            var container = $('#tbldata');
            container.pagination({
                dataSource: @Output,
                //locator: 'items',
                totalNumber: 12,
                pageSize: 2,
                showPageNumbers: true,
                showPrevious: true,
                showNext: true,
                showNavigator: true,
                showFirstOnEllipsisShow: true,
                showLastOnEllipsisShow: true,
                ajax: {
                    beforeSend: function () {
                        container.prev().html('Loading data from flickr.com ...');
                    }
                },
                callback: function (response, pagination) {
                    window.console && console.log(22, response, pagination);
                    var dataHtml = '<ul>';

                    $.each(response, function (index, item) {
                        dataHtml += '<li>' + item.title + '</li>';
                    });

                    dataHtml += '</ul>';

                    container.prev().html(dataHtml);
                }
            })
        });
    })
</script>*@

