@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container">
    <h3>User Data</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">avatar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.UserData.Data.Id</th>
                <td>@Model.UserData.Data.First_Name</td>
                <td>@Model.UserData.Data.Last_Name</td>
                <td>@Model.UserData.Data.Email</td>
                <td>@Model.UserData.Data.Avatar</td>
            </tr>

            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h3>User Data List</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
                <th scope="col">avatar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserDataList.Data)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.First_Name</td>
                    <td>@item.Last_Name</td>
                    <td>@item.Email</td>
                    <td>@item.Avatar</td>
                </tr>
            }

        </tbody>
    </table>
</div>
